body {
  margin: 0;
  color: #40541E ;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.635rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}
h2{
  font-family: 'Sacramento', cursive;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Sacramento', cursive;
  color: #11999E;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 100px;
}
p{
  line-height: 2;
}
.middle-container {
  margin:100px 0;
}
.bottom-container {
background-color: #66BFBF;
padding: 50px 0 20px;
}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
a{
  color: #11999E;
  margin: 20px 10px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.pro{
  text-decoration: underline;
  color: #66BFBF;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}
.intro{
  width:30%;
  margin:auto;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 20px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.myButton {
	box-shadow:inset 0px -14px 16px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	border:1px solid #3866a3;
	display:inline-block;
	cursor:pointer;
	color:#14396a;
	font-family: 'Merriweather', serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #7cacde;
}
.myButton:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}
.myButton:active {
	position:relative;
	top:1px;
}
.copyright
{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px;
}
